#customers {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border: 2px black solid;
  border-radius: 10px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
}

#customers tr:nth-child(even){background-color: grey;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  border-radius: 10px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}